In [1]:
import pandas as pd

In [8]:
food_data = {
    "Item": ["banana", "cucamber", "orange", "tomato", "watermelon"],
    "Type": ["fruit", "vegetable", "fruit", "vegetable", "fruit"],
    "Price": [0.99, 1.25, 0.25, 0.33, 3.00]
}
supermarket = pd.DataFrame(data=food_data)

g = supermarket.groupby(by='Type')
g.mean(numeric_only=True)

              Price
Type
fruit      1.413333
vegetable  0.790000

In [11]:
g.get_group("fruit").mean(numeric_only=True)

Price    1.413333
dtype: float64

In [18]:
ft = pd.read_csv("github_source/fortune1000.csv")
sectors = ft.groupby(by="Sector")
sectors.size()

Sector
Aerospace & Defense               25
Apparel                           14
Business Services                 53
Chemicals                         33
Energy                           107
Engineering & Construction        27
Financials                       155
Food &  Drug Stores               12
Food, Beverages & Tobacco         37
Health Care                       71
Hotels, Restaurants & Leisure     26
Household Products                28
Industrials                       49
Materials                         45
Media                             25
Motor Vehicles & Parts            19
Retailing                         77
Technology                       103
Telecommunications                10
Transportation                    40
Wholesalers                       44
dtype: int64

In [19]:
len(sectors)

21

In [24]:
sectors.groups
sectors.first()
sectors.nth(3)

,Company,Revenues,Profits,Employees,Sector,Industry
22,Home Depot,100904.0,8630.0,413000,Retailing,Specialty Retailers: Other
23,Bank of America Corp.,100264.0,18232.0,209376,Financials,Commercial Banks
28,Anthem,90040.0,3842.8,56000,Health Care,Health Care: Insurance and Managed Care
30,Valero Energy,88407.0,4065.0,10015,Energy,Petroleum Refining
33,IBM,79139.0,5753.0,397800,Technology,Information Technology Services
53,Sysco,55371.0,1142.5,66500,Wholesalers,Wholesalers: Food and Grocery
73,Charter Communications,41581.0,9895.0,94800,Telecommunications,Telecommunications
74,Delta Air Lines,41244.0,3577.0,86564,Transportation,Airlines
86,Coca-Cola,35410.0,1248.0,61800,"Food, Beverages & Tobacco",Beverages
87,Publix Super Markets,34837.0,2291.9,193000,Food & Drug Stores,Food and Drug Stores
96,3M,31657.0,4858.0,91536,Industrials,Miscellaneous
98,General Dynamics,30973.0,2912.0,98600,Aerospace & Defense,Aerospace and Defense
186,Goodyear Tire & Rubber,15377.0,346.0,64000,Motor Vehicles & Parts,Motor Vehicles and Parts
195,Newell Brands,14742.0,2748.8,49000,Household Products,"Home Equipment, Furnishings"
196,CBS,14710.0,357.0,14715,Media,Entertainment
198,Monsanto,14640.0,2260.0,21900,Chemicals,Chemicals
199,Aramark,14604.0,373.9,215000,Business Services,Diversified Outsourcing Services
226,Las Vegas Sands,12882.0,2806.0,50500,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts"
229,Lennar,12646.0,810.5,9111,Engineering & Construction,Homebuilders
245,United States Steel,12250.0,387.0,29200,Materials,Metals
420,Ralph Lauren,6653.0,-99.3,18250,Apparel,Apparel

In [27]:
sectors.head(4)

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care
...,...,...,...,...,...,...
229,Lennar,12646.0,810.5,9111,Engineering & Construction,Homebuilders
241,VF,12400.0,614.9,69000,Apparel,Apparel
245,United States Steel,12250.0,387.0,29200,Materials,Metals
331,PVH,8915.0,537.8,28050,Apparel,Apparel
420,Ralph Lauren,6653.0,-99.3,18250,Apparel,Apparel

In [29]:
sectors['Profits'].sum(numeric_only=True)

Sector
Aerospace & Defense               26733.5
Apparel                            6350.7
Business Services                 37179.2
Chemicals                         20475.0
Energy                            85369.6
Engineering & Construction         7121.0
Financials                       264253.5
Food &  Drug Stores                8440.3
Food, Beverages & Tobacco         54902.5
Health Care                       92791.1
Hotels, Restaurants & Leisure     21305.5
Household Products                27726.8
Industrials                       19114.3
Materials                         13730.4
Media                             23019.9
Motor Vehicles & Parts             6861.1
Retailing                         55707.2
Technology                       177883.9
Telecommunications                91965.8
Transportation                    52960.3
Wholesalers                       15657.4
Name: Profits, dtype: float64

In [31]:
sectors.agg({
    'Revenues': 'sum',
    'Profits': 'mean',
    'Employees': 'min'
})

                                Revenues      Profits  Employees
Sector
Aerospace & Defense             383835.0  1069.340000       5157
Apparel                         101157.3   453.621429       3700
Business Services               316090.0   701.494340       2338
Chemicals                       251151.0   620.454545       1931
Energy                         1543507.2   805.373585        593
Engineering & Construction      172782.0   263.740741       1100
Financials                     2442480.0  1704.861290        152
Food &  Drug Stores             405468.0   703.358333       7324
Food, Beverages & Tobacco       510232.0  1483.851351       1819
Health Care                    1507991.4  1306.916901       2298
Hotels, Restaurants & Leisure   179825.0   819.442308       8600
Household Products              231779.8   990.242857       4050
Industrials                     520140.0   390.087755       4125
Materials                       278298.0   305.120000        126
Media                           230487.4   920.796000       2039
Motor Vehicles & Parts          433535.0   361.110526       2700
Retailing                      1684353.0   723.470130       2505
Technology                     1374822.3  1743.959804       2100
Telecommunications              466959.0  9196.580000       3794
Transportation                  455160.0  1324.007500       1273
Wholesalers                     888149.0   355.850000        981

In [34]:
def get_largest_each_group(df):
    return df.nlargest(1, 'Profits')

sectors.apply(get_largest_each_group)

,,Company,Revenues,Profits,Employees,Sector,Industry
Sector,,,,,,,
Aerospace & Defense,26,Boeing,93392.0,8197.0,140800,Aerospace & Defense,Aerospace and Defense
Apparel,88,Nike,34350.0,4240.0,74400,Apparel,Apparel
Business Services,160,Visa,18358.0,6699.0,15000,Business Services,Financial Data Services
Chemicals,344,Air Products & Chemicals,8442.0,3000.4,15150,Chemicals,Chemicals
Energy,1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
Engineering & Construction,210,D.R. Horton,14091.0,1038.4,7735,Engineering & Construction,Homebuilders
Financials,2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
Food & Drug Stores,18,Walgreens Boots Alliance,118214.0,4078.0,290000,Food & Drug Stores,Food and Drug Stores
"Food, Beverages & Tobacco",113,Kraft Heinz,26232.0,10999.0,39000,"Food, Beverages & Tobacco",Food Consumer Products
Health Care,56,Pfizer,52546.0,21308.0,90200,Health Care,Pharmaceuticals
"Hotels, Restaurants & Leisure",130,McDonalds,22820.0,5192.3,235000,"Hotels, Restaurants & Leisure",Food Services
Household Products,41,Procter & Gamble,66217.0,15326.0,95000,Household Products,Household and Personal Products
Industrials,96,3M,31657.0,4858.0,91536,Industrials,Miscellaneous
Materials,123,International Paper,23302.0,2144.0,56000,Materials,"Packaging, Containers"
Media,54,Disney,55137.0,8980.0,199000,Media,Entertainment
Motor Vehicles & Parts,10,Ford Motor,156776.0,7602.0,202000,Motor Vehicles & Parts,Motor Vehicles and Parts
Retailing,0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
Technology,3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
Telecommunications,15,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
Transportation,140,Union Pacific,21240.0,10712.0,41992,Transportation,Railroads
Wholesalers,5,McKesson,198533.0,5070.0,64500,Wholesalers,Wholesalers: Health Care

In [36]:
sectors = ft.groupby(by=['Sector', 'Industry'])
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            25
Apparel              Apparel                                          14
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         2
                                                                      ..
Transportation       Trucking, Truck Leasing                          11
Wholesalers          Wholesalers: Diversified                         24
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
                     Wholesalers: Health Care                          6
Length: 82, dtype: int64

In [38]:
sectors.get_group(('Wholesalers', 'Wholesalers: Health Care'))

,Company,Revenues,Profits,Employees,Sector,Industry
5,McKesson,198533.0,5070.0,64500,Wholesalers,Wholesalers: Health Care
11,AmerisourceBergen,153144.0,364.5,19500,Wholesalers,Wholesalers: Health Care
13,Cardinal Health,129976.0,1288.0,40400,Wholesalers,Wholesalers: Health Care
237,Henry Schein,12462.0,406.3,22000,Wholesalers,Wholesalers: Health Care
317,Owens & Minor,9318.0,72.8,8600,Wholesalers,Wholesalers: Health Care
489,Patterson,5593.0,170.9,7500,Wholesalers,Wholesalers: Health Care