In [1]:
import pandas as pd
import numpy as np

In [5]:
ep = pd.read_csv('github_source/employees.csv')
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [6]:
#روشهایی برای کاهش مموری یوزیج
#1. تاریخ ها را به فرمت تاریخ تبدیل کنید
ep = pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'])
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 47.0+ KB

/tmp/ipykernel_7807/3847873211.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ep = pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'])

In [10]:
#2. الان منیجمنت را چون دیتاش بول هست میخوام از ابجکت که در نظر گرفته به بول تغییر بدم
ep['Mgmt'] = ep['Mgmt'].astype(bool)
ep.info()
# فقط در نظر داشته باشید نن را میاد و به ترو تغییر میده یعنی اگه قبلا فالس و ترو و نن بود الان دیگه فقط فالس و ترو خواهد بود

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      999 non-null    float64
 4   Mgmt        1001 non-null   bool
 5   Team        957 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(1), object(3)
memory usage: 40.2+ KB

In [13]:
#3. این حقوق را هم فلوت کشکی در نظر گرفته هم ۶۴ بیتی گذاشته به نظر میرسه اینت ۳۲ کار مار و حل کنه
# فقط یه چالشی داریم که نمیدونه نن ها را چیکار کنه برای اینکار از متود زیر کمک میگیریم که میاد به جای نن ها صفر میزاره
ep['Salary'] = ep['Salary'].fillna(0).astype('int32')
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      1001 non-null   int32
 4   Mgmt        1001 non-null   bool
 5   Team        957 non-null    object
dtypes: bool(1), datetime64[ns](1), int32(1), object(3)
memory usage: 36.3+ KB

In [14]:
# 3. ستونهایی که مقدار منحصر به فرد کمی دارند مثلا جنسیت که فقط مرد و زن هست یا خیلی چیزهای دیگه از نوع داده‌ای کتگوری میشه استفاده کرد
# با روش زیر میتونیم بفهمیم در هر ستون چند مقدار منصحرف به فرد هست الان هم تیم هم جندر جفتشون خوبن که نوع دادشون به جای ابجکت بشه کتگوری
ep.nunique()

First Name    200
Gender          2
Start Date    971
Salary        995
Mgmt            2
Team           10
dtype: int64

In [18]:
ep['Gender'] = ep['Gender'].astype('category')
ep['Team'] = ep['Team'].astype('category')
ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    category
 2   Start Date  999 non-null    datetime64[ns]
 3   Salary      1001 non-null   int32
 4   Mgmt        1001 non-null   bool
 5   Team        957 non-null    category
dtypes: bool(1), category(2), datetime64[ns](1), int32(1), object(1)
memory usage: 23.1+ KB

In [26]:
# لزومی به آوردن همه‌ی ستونها نیست، میشه با همون یوزکالز موقع تعریف کار و جمع کرد.
# کل کاری که کردیم میشه کد زیر
ep = pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'], 
                usecols=['Gender', 'Start Date', 'Salary', 'Mgmt', 'Team'], 
                dtype={
                    'Gender' : 'category',
                    'Team' : 'category'
                })

ep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      854 non-null    category
 1   Start Date  999 non-null    datetime64[ns]
 2   Salary      999 non-null    float64
 3   Mgmt        933 non-null    object
 4   Team        957 non-null    category
dtypes: category(2), datetime64[ns](1), float64(1), object(1)
memory usage: 26.0+ KB

/tmp/ipykernel_7807/4250085840.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ep = pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'],

In [27]:
#استفاده از چانک سایز هم خیلی مناسب هست که همه‌ی ردیف ها را با هم نیاره و چانک چانک بیار و به راحتی میشه با حلقه زدن کار و جمع کرد. کافیه متغیر چانگ و بهش بدیم
for ep in pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'], chunksize=200):
        ep.info()
        print("===================================================")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  185 non-null    object
 1   Gender      168 non-null    object
 2   Start Date  199 non-null    datetime64[ns]
 3   Salary      199 non-null    float64
 4   Mgmt        185 non-null    object
 5   Team        192 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 9.5+ KB
===================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 200 to 399
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  187 non-null    object
 1   Gender      172 non-null    object
 2   Start Date  200 non-null    datetime64[ns]
 3   Salary      200 non-null    int64
 4   Mgmt        187 non-null    object
 5   Team        195 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 9.5+ KB
===================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 400 to 599
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  188 non-null    object
 1   Gender      177 non-null    object
 2   Start Date  200 non-null    datetime64[ns]
 3   Salary      200 non-null    int64
 4   Mgmt        188 non-null    object
 5   Team        190 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 9.5+ KB
===================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 600 to 799
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  184 non-null    object
 1   Gender      162 non-null    object
 2   Start Date  200 non-null    datetime64[ns]
 3   Salary      200 non-null    int64
 4   Mgmt        184 non-null    object
 5   Team        188 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 9.5+ KB
===================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 800 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  189 non-null    object
 1   Gender      175 non-null    object
 2   Start Date  200 non-null    datetime64[ns]
 3   Salary      200 non-null    int64
 4   Mgmt        189 non-null    object
 5   Team        192 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 9.5+ KB
===================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 1000 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  0 non-null      float64
 1   Gender      0 non-null      float64
 2   Start Date  0 non-null      datetime64[ns]
 3   Salary      0 non-null      float64
 4   Mgmt        0 non-null      float64
 5   Team        0 non-null      float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 180.0 bytes
===================================================

/tmp/ipykernel_7807/1252714852.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  for ep in pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'], chunksize=200):
/tmp/ipykernel_7807/1252714852.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  for ep in pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'], chunksize=200):
/tmp/ipykernel_7807/1252714852.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  for ep in pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'], chunksize=200):
/tmp/ipykernel_7807/1252714852.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  for ep in pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'], chunksize=200):
/tmp/ipykernel_7807/1252714852.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  for ep in pd.read_csv('github_source/employees.csv', parse_dates=['Start Date'], chunksize=200):